.github-corner:hover .github-arm {
    animation: github-wave 560ms ease-in-out;
}

@keyframes github-wave {

    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .github-arm {
        animation: none;
    }

    .github-corner .github-arm {
        animation: github-wave 560ms ease-in-out;
    }
}