:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

main > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 1rem;
  margin: 50px 10px;
  text-decoration: none;
  padding-bottom: 5%;
}

p {
  margin: 0;
  padding: 0;
  color: rgb(59, 59, 59);
}

h1 {
  text-align: center;
}

.header {
  padding: 2rem;
}

main > div .card {
  position: relative;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0px rgb(69 179 253 / 40%);
  transition: transform 0.2s;
  text-decoration: none;
  color: black;
  padding: 1.4rem;
}

main > div .card:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 10px 0px rgb(69 179 253 / 20%);
}

main > div .card:active {
  transform: translateY(2px);
  box-shadow: none;
}

button {
  background-color: #0c89f7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#search {
  width: 500px;
  margin: auto;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 6px;
  padding-left: 10px;
  font-size: 18px;
}

@media (max-width: 500px) {
  #search {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.upper_card {
  display: flex;
  width: calc(100% - 2.8rem);
  height: 18%;
  padding-bottom: 20px;
  opacity: 0;
  transition: opacity 0.1s;
}

.upper_card > a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  box-shadow: 1px 1px 10px 0px rgb(69 179 253 / 40%);

  &:hover {
    box-shadow: 1px 1px 10px 0px rgb(69 179 253 / 20%);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }
}

.card > :nth-child(2n) {
  position: absolute;
  top: 30px;
}

.card:hover > :nth-child(2n) {
  opacity: 1;
}