:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 1rem;
  margin: 50px 10px;
  text-decoration: none;
  padding-bottom: 5%;
}

p {
  margin: 0;
  padding: 0;
  color: rgb(59, 59, 59);
}

h1 {
  text-align: center;
}

.header {
  padding: 2rem;
}

main .card {
  border-radius: 15px;
  box-shadow: 1px 1px 10px 0px rgb(69 179 253 / 40%);
  transition: transform 0.2s;
  text-decoration: none;
  color: black;
  padding: 1.4rem;
}

main .card:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 10px 0px rgb(69 179 253 / 20%);
}

main .card:active {
  transform: translateY(2px);
  box-shadow: none;
}

.cardData {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

button {
  background-color: #0c89f7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}